td {
	width: 100px;
	height: 100px;
}

td[id="monday"] {
	background-color: lavender;
}

td[id="tuesday"] {
	background-color: lightsteelblue;
}

td[id="wednesday"] {
	background-color: mediumturquoise;
}

td[id="thursday"] {
	background-color: mediumseagreen;
}

td[id="friday"] {
	background-color: aquamarine;
}

td[id="top"] {
	z-index: 1;
}

div[class="time"] {
	height: 200px;
}

div[class="monday-contents"] {
	height: 2000px;
	background-color: orange;
}

input[id="link_button"] { 
     background: none;
     border: none;
     color: #0066ff;
     text-decoration: underline;
     cursor: pointer; 
}